/.idea
/_1_basicApp/target/_1_basicApp-0.0.1-SNAPSHOT.jar
/_1_basicApp/target/_1_basicApp-0.0.1-SNAPSHOT.jar.original
/_1_basicApp/target/classes/mypackage/Book$BookBuilder.class
/_1_basicApp/target/classes/mypackage/Book.class
/_1_basicApp/target/classes/mypackage/BookController.class
/_1_basicApp/target/classes/mypackage/Main.class
/_1_basicApp/target/maven-archiver/pom.properties
/_1_basicApp/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/_1_basicApp/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/_1_basicApp/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/_1_basicApp/target/classes
/_2_jpa/target/_2_jpa-0.0.1-SNAPSHOT.jar
/_2_jpa/target/_2_jpa-0.0.1-SNAPSHOT.jar.original
/_2_jpa/target/classes/application.properties
/_2_jpa/target/classes/data.sql
/_2_jpa/target/classes/mypackage/Main.class
/_2_jpa/target/classes/mypackage/jpa/BookJpa.class
/_2_jpa/target/classes/mypackage/jpa/BookJpaController.class
/_2_jpa/target/classes/mypackage/jpa/BookJpaRepository.class
/_2_jpa/target/maven-archiver/pom.properties
/_2_jpa/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/_2_jpa/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/_2_jpa/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/_3_advancedHibernate/target/classes/mypackage/*.class
/_3_advancedHibernate/target/classes/mypackage/models/*.class
/_3_advancedHibernate/target/test-classes/mypackage/*.class
/_3_advancedHibernate/target/classes/application.properties
/_3_advancedHibernate/target/classes/data.sql
/_3_advancedHibernate/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/_3_advancedHibernate/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/_3_advancedHibernate/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/_3_advancedHibernate/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/_3_advancedHibernate/target/surefire-reports/TEST-mypackage.ApplicationTest.xml
/_3_advancedHibernate/target/surefire-reports/mypackage.ApplicationTest.txt
/_3_advancedHibernate/target/classes/mypackage/services/*.class
/_3_advancedHibernate/target/surefire-reports/TEST-mypackage.CourseRepositoryTest.xml
/_3_advancedHibernate/target/surefire-reports/mypackage.CourseRepositoryTest.txt
/_3_advancedHibernate/target/_3_advancedHibernate-0.0.1-SNAPSHOT.jar
/_3_advancedHibernate/target/_3_advancedHibernate-0.0.1-SNAPSHOT.jar.original
/_3_advancedHibernate/target/maven-archiver/pom.properties
/_3_advancedHibernate/target/surefire-reports/2018-11-27T16-35-16_630-jvmRun1.dump
